html,
body {
  width: 300px;
}

.hidden {
  display: none;
}

.img-placeholder {
  width: 152px;
  height: 152px;
  background-color: #f0f0f0;
  background-image: url("chrome://global/skin/icons/loading_16.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}


.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.beast:hover {
  background-color: #CFF2F2;
}

.beast {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}

.original-image {
  width: 500px
}

img {
  display: block;
  height: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.restored-image {
  width: 500px
}

img {
  display: block;
  height: auto;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h6 {
  display: inline;
}