html,

body {
  width: 500px;
}

.hidden {
  display: none;
}

.img-placeholder {
  width: 152px;
  height: 152px;
  background-color: #f0f0f0;
  background-image: url("chrome://global/skin/icons/loading_16.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.original-image {
  width: 500px
}
.restored-image {
  width: 500px
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
  .loader {
      height: 80px;
      width: 80px;
  }
 
  &.is-active {
      opacity: 1;
      z-index: 1;
  }
}


.img-placeholder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}